<!DOCTYPE html>
<html>
  <head>
    <title>Fakebank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Fake Bank', root_path, class: 'navbar-brand' %>
        </div>
      </div>
    </nav>

    <%= render partial: 'shared/flash_messages', flash: flash %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
